body {
  background-image: url(../Asets/Main.jpg);
}
.col-centered{
float: none;
margin: 0 auto;
}
.col-centered{
float: none;
margin: 0 auto;
}
.breadcrumb li.third a {
background: hsla(153, 57%, 51%, 1);
}
.breadcrumb li.third a:after {
border-left: 30px solid hsla(153, 57%, 51%, 1);
}
ul li {
    list-style-type: none;
}
.navbar-brand {
	padding: 5px 15px;
}
