@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}
@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}
h3 {
  font-size: 1.6em;
}
* {
  font-family: 'Shift', sans-serif;
}
body {
 height: 100%;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-image: url(../Asets/Main.jpg);
}
.navbar-brand {
	padding: 5px 15px;
}
#left_pane {
  margin-top: 5px;
  border: 1px solid black;
  background-color: white;
}
#contents_container {
  width: 80%;
  margin:0 auto;
}
.form-control {
  margin: 10px;
}
#submit {
  margin: 10px;
  width:150px;
  height:45px;
  background:linear-gradient(salmon,#773355);
  background:-webkit-linear-gradient(salmon,#773355);
  border:0px;
  border-radius:10px;
  color:whitesmoke;
  font-size:1em;
  font-weight: bold;
  line-height:2.6em;
  transition: none;
}
#submit:hover {
  background:linear-gradient(salmon,#782335);
  background:-webkit-linear-gradient(salmon,#782335);
  color:whitesmoke;
}
.wrapper {
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 5px;
  overflow: hidden;
}
img {
  vertical-align: baseline;
}
#car_preview {
  display: inline-block;
}
#car_view {
  height: 50%;
  width: 100%;
}
#stats {
  margin-top: 10px;
  margin-left: 10px;
	display: inline-block;
}
#price {
  margin-top: 5%;
	display: inline-block;
}
#price p {
  font-size: 20pt;
  font-weight: bold;
}
#check {
  margin-top: 5%;
	display: inline-block;
}
#button {
  float:right;
}
p #label {
  font-weight: bold;
}
#display {
  background-color: white;
  border: 1px solid black;
}
#left_pane, .results_view, #display {
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
}
#back_button, #buy_button, #email_button {
	margin: 10px 10px 10px 0px;
}
#loading_Spinner {
  height: 30px;
  width: 30px;
}
#dropdown {
  float: right;
  margin: 5px;
  display: inline-block;
}
#page_size {
  float: right;
  display: inline-block;
}
#page_size .form-control {
  margin: 5px;
}
#selectbtn {
  float:right;
}
#sortbtn {
  float:right;
}
#sort {
  float: right;
  display: inline-block;
  width:100%;
  background-color: #333;
  border: 1px solid black;
  border-radius: 4px;
}
#pagenumbers {
  font-size: 14pt;
	color: white;
	font-weight: bold;
}
#stat1, #stat2, #stat3 {
  margin: 2% 0% 0% 12%;
  display: inline-block;
}
#buttons {
  width:100%;
}
#buttons, #buy_button, #email_button {
  display: inline-block;
}
#buy_button {
  float: right;
}
.pagination {
  margin: 5px 0;
}
#pageCount p {
	color: white;
  margin-top: 10px;
}
.tales {
  width: 100%;
}
.carousel-inner img{
  width:100%;
  max-height: 320px !important;
}
#carousel {
  width: 100%;
  border: 2px solid black;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
