<!DOCTYPE html>
<html ng-app="carApp">
    <head>
        <meta charset="UTF-8">
        <title>Car sales</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script><!-- AngularJS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script data-require="ui-bootstrap@*" data-semver="0.10.0" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>

        <link rel="stylesheet" href="../css/breadcrumb_style.css"><!-- Stylesheet -->
        <link rel="stylesheet" href="../css/confirmation_style.css"><!-- Stylesheet -->
        <!-- Services -->
        <script src="../functions.js"></script>

        <!-- Directives -->
        <script src="../directives/directives.js"></script>
</head>
<body ng-controller="confirmCtrl" data-ng-init="getOrderNo()">
    <div navbar></div><!-- Link to navigation bar html -->
    <div class="col-md-10 col-centered">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div breadcrumbs></div>
        </div>
    <div class="panel-body">
      <div ng-repeat="data in sharedData">
        <center>
        <h1><u>Your order is confirmed!</u></h1>
        </center>
        <p><b>Estimated car pick-up time:</b> {{date | date:'yyyy-MM-dd'}} 10:00 pm</p>
        <p><b>Location:</b> {{data.dealer}}, {{data.town}} </p>
        <h3>What documents to I need to take with me?</h3>
        <ul>
            <li><i class="fa fa-check-circle"></i> Some form of identification (drivers licence, pasport, etc.)</li>
            <li><i class="fa fa-check-circle"></i> Credit check papers</li>
            <li><i class="fa fa-check-circle"></i> Valid insuarnce policy</li>
            <li><i class="fa fa-check-circle"></i> And few other</li>
        </ul>
      </div>
        </div>
      </div>
    </div>
    </body>
</html>
