<!DOCTYPE html>
<html ng-app="carApp">
<head>
  <title>CarGo Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../dependencies/bootstrap/css/bootstrap.css"> <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/login_style.css" type="text/css" /><!-- Login Stylesheet -->

  <script src="../dependencies/angular.min.js"></script><!-- AngularJS -->
  <script src="../dependencies/ui-bootstrap-tpls-1.2.5.js"></script><!-- Bootstrap UI -->
  <script src="../dependencies/jquery-2.2.2.min.js"></script><!-- JQuery -->
  <script src="../dependencies/bootstrap/js/bootstrap.min.js"></script><!-- Bootstrap JS-->

  <!-- Services -->
  <script src="../functions.js"></script>
  <!-- Directives -->
  <script src="../directives/directives.js"></script>
</head>
<body>
  <div navbar></div><!-- Navigation bar directive -->
  <div class="container"><!-- Error message container -->
    <div class="alert alert-danger" class="col-xs-12">
      <strong>Error!</strong> Email or password incorrect!
    </div>
  </div>
</body>
</html>
